.intro__background {
    height: 100%;
    width: 100%;
    background: url(../../img/intro/intro_background.jpg) 0 0 no-repeat;
    background-size: 100%;
    position: relative;
}

.intro__background::after {
    content: '';
    height: 100%;
    width: 100%;
    background: #fff;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
}

.intro__wrap {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.intro__center {
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.intro__animation {
    display: inline-block;
    vertical-align: middle;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.animation__picture {
    margin-bottom: 40px;
}

.animation__button {
    width: 207px;
    height: 45px;
    border: 1px solid #1c5bc3;
    border-radius: 2px;
}

.button__text {
    line-height: 45px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    color: #1c5bc3;
}

.button__text:after {
    content: '';
    display: inline-block;
    background: url(../../img/intro/small_main_icon_sprite.png) 0 0 no-repeat;
    width: 15px;
    height: 17px;
    vertical-align: middle;
}

.animation__button:hover {
    background: #1c5bc3;
}

.animation__button:hover .button__text {
    color: #fff;
}

.animation__button:hover .button__text:after {
    background: url(../../img/intro/small_main_icon_sprite.png) -50px 0 no-repeat;
}

/* @-webkit-keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    40%,
    43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
  }
  
  @keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    40%,
    43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
  } */